<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Fazle Khan : VirMedica Sample</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/virmedica.css"
          th:href="@{css/virmedica.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">

        <h1>VirMedica Sample Solutions</h1>

        <ul>
            <li>
                <div>
                    <!--suppress HtmlUnknownTarget -->
                    <a class="internalNav" href="/solution1">Solution to question 1: Sieve of Eratosthenes</a>
                </div>
                <div>based on <a href="https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes" target="_blank">Sieve of
                    Eratosthenes</a>
                </div>
            </li>
            <li>
                <div>
                    <!--suppress HtmlUnknownTarget -->
                    <a class="internalNav" href="/solution2">Solution 2: Sieve of Eratosthenes (Multithreaded)</a>
                </div>
                <div>based on <a href="https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes" target="_blank">Sieve of
                    Eratosthenes</a>
                </div>
            </li>
            <li>
                <div>
                    <!--suppress HtmlUnknownTarget -->
                    <a class="internalNav" href="/solution2a">Solution 2: Sieve of Eratosthenes (Functional Multithreaded)</a>
                </div>
                <div>based on <a href="https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes" target="_blank">Sieve of
                    Eratosthenes</a>
                </div>
            </li>

        </ul>
    </div>
</div>

</body>
</html>