<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Solution 1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/virmedica.css"
          th:href="@{css/virmedica.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <!--suppress CheckEmptyScriptTag, CheckEmptyScriptTag, CheckEmptyScriptTag, CheckEmptyScriptTag -->
    <div class="jumbotron">

        <h1>Solution 2</h1>
        <p><a href="/">Return to Index</a></p>

        <!--suppress HtmlUnknownTarget -->
        <form action="/solution2" method="post">
            <label for="lastNumber">Number to search till</label>
            <input id="lastNumber" type="text" name="lastNumber"/>
            <label for="threadCount">Number of threads till</label>
            <input id="threadCount" type="text" name="threadCount"/>
            <input type="submit" value="Submit"/>
        </form>

        <p th:text="'Submitted Arguments: ' + ${lastNumber} + ' ' + ${threadCount}"/>
        <p th:text="${messages}"/>
        <p th:text="${primes}"/>
    </div>
</div>

</body>
</html>